.pagination span {
  width: 2rem;
  height: 2rem;
  padding: 5px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--secondary-color);
  color: var(--heading-color);
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 700;
}

.wrapper_cards {
  margin-top: -80px;
}

.active__page {
  background: var(--secondary-color);
  color: #fff !important;
}

@media only screen and (max-width: 992px) {
  .wrapper_tours {
    margin-top: -125px;
  }

  .wrapper_cards {
    margin-top: 0;
  }
}
